.vertical-align {
    display: flex;
    align-items: center;
}

.singer-icon {
    height: 50px;
    width: 50px;
}

.singer-icon-lg {
    height: 200px;
    width: 200px;
}

.singer-header{
    font-size: 50px;
}

.back-ref{
    font-size: 25px;
    height: 100%;
}

.songs-wrap{
    height: 200px;
}

.singers-wrap{
    height: 430px;
}

.singer-wrap{
    margin-bottom: 10px;
}